[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
authentik-client = "2026.2.1"
discord-py = "2.7.1"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.4"
